{% extends 'base.html.twig' %}

{% block title %}
	PartyApp🎉 | Accueil
{% endblock %}

{% block body %}
	<style>
		.main-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.main-wrapper button {
			width: 100%;
			clear: both;
			text-align: center;
			margin-top: 10px;
		}
	</style>

	<div class="main-wrapper">
    <br>
    <h1>Bienvenue sur PartyApp !</h1>
    <p>Sur Party, tu peux t'informer et partager avec les autres sur les prochains évènements à venir.</p>
    </div>
{% endblock %}
